[run]
omit =
    */aggregator/aggregator.py
    */aggregator/auth_credentials.py
    */aggregator/get_token.py
    */aggregator/server_vars.py
    */aggregator/app.py
    */aggregator/tracks_count.py
