client_id = 'your_app_client_id'
client_secret = 'your_app_client_secret'

access_token = 'your_access_token'
token_type = 'your_token_type'

client_headers = {
    'your': 'client_headers',
    'your': 'client_headers'
}

get_artist_stats_extensions = '{"your_client_extensions_for_artist_stats_request"}'
get_tracks_extensions = '{"your_client_extensions_for_get_album_request"}'
